.background {
    background-color: #d9d9d9;
    height: 800px;
}

.employee_data {
    width: 60px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.employee_anchor {
    position: relative;
    top: 141px;
    left: 51px;
    color: #000;
    font-size: 16px;
    font-family: roboto;
    line-height: 2em;
}

.dtm_anchor {
    position: relative;
    top: 141px;
    left: 32px;
    color: #000;
    font-size: 16px;
    font-family: roboto;
    line-height: 2em;
}

.leave_anchor {
    position: relative;
    top: 141px;
    left: 13px;
    color: #000;
    font-size: 16px;
    font-family: roboto;
    line-height: 2em;
}

.directory {
    position: relative;
    top: 141px;
    left: 60px;
    color: #000;
    font-size: 16px;
    font-family: roboto;
    line-height: 2em;
}

.employee_front {
    background-color: #ccc;
}

.employee_back {
    background-color: #90A4AE !important;
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: -129px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
    transform: rotateY(180deg);
}

.visible {
    display: block;
}

.hide {
    display: none;
}

.employee_front {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: -129px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
}

.showme:hover .employee_back {
    display: block;
}

.showhim:hover .employee_front {
    display: none;
}

.Dtm_front {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: -70px;
    margin-right: 10px;
    margin-left: -97px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
}

.Dtm_back {
    background-color: #90A4AE !important;
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: -70px;
    margin-right: 10px;
    margin-left: -97px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
    transform: rotateY(180deg);
}

.elm_front {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: -8px;
    margin-right: 10px;
    margin-left: -213px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
}

.elm_back {
    background-color: #90A4AE !important;
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: -8px;
    margin-right: 10px;
    margin-left: -213px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
    transform: rotateY(180deg);
}

.directory_front {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1px;
    left: 50px;
    margin-right: 10px;
    margin-left: -325px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
}

.directory_back {
    background-color: #90A4AE !important;
    border: 1px solid #ddd;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 50px;
    margin-right: 10px;
    margin-left: -325px;
    margin-top: 33px;
    box-shadow: 7px 7px 5px #888888;
    border: 1px solid #ddd;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
    transform: rotateY(180deg);
}

.para_back {
    margin: 33px;
    position: absolute;
    left: -10px;
}

.para-back2 {
    margin: 26PX;
    position: absolute;
    left: -4px;
}

.para-back3 {
    margin: 33PX;
    position: absolute;
    left: -21px;
}


/*new card css*/

.card-container {
    display: inline-block;
    perspective: 900px;
}

.card {
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0 12px;
    perspective: 900px;
    text-align: center;
    margin-top: 30px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    margin-left: -11px;
    margin-right: -11px;
    margin-top: -20px;
    margin-bottom: 4px;
}

.front {
    position: absolute;
    background: none !important;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: white;
    backface-visibility: hidden;
}

.back {
    position: absolute;
    background-color: #90A4AE !important;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: white;
    backface-visibility: hidden;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: none;
    height: 140px;
}

.tab-content>.active {
    display: block;
    visibility: visible;
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: justify;
    margin-top: 25px;
}

.input-set {
    height: 30px;
    border-radius: 3px;
}

.post-box {
    width: 98%;
    height: 200px;
    border-color: transparent;
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.post-font-color {
    color: #000;
    font-size: 16px;
}

.panel .panel-body {
    padding: 10px;
    background: #f5f5f5 !important;
    height: 117px;
}

.news-box {
    width: 98%;
    height: 300px;
    border-color: transparent;
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    margin-top: 18px;
}

.line {
    border-bottom: 1px solid #90A4AE;
}

.scroll-y {
    overflow-y: hidden;
}

.scroll-x {
    overflow-x: hidden;
}

.logo {
      height: 39px;
    width: 174px;
    position: relative;
    top: -5px;
    left: 0px;
    background-color: white;
}

.dataTables_length select {
    width: 66px;
}

.data-table {
    background: #082648;
}

.dataTables_length label,
.dataTables_filter label {
    color: #000;
}

.edit {
    border: 1px solid red;
    color: red;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.layout {
    padding-left: 17px;
    padding-right: 29px;
}

.apply {
    padding: 10px 19px 10px 19px;
    margin-left: 20px;
    margin-right: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: rgba(0, 0, 0, 0.1) !important;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #455A64 !important;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background: rgba(0, 0, 0, 0.1) !important;
}

.odd {
    background: #eaeaea !important;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #607D8B !important;
}

.dataTables_length select {
    width: 73px !important;
    display: inline !important;
    margin: 0px 5px !important;
    margin-top: -9px !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em !important;
    /* margin-bottom: -2px; */
    margin-top: -9px !important;
}

.dataTables_length label,
.dataTables_filter label {
    padding: 0px !important;
    line-height: 16px !important;
    height: auto !important;
    margin: 0px !important;
    font-weight: normal !important;
    display: inline-flex !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    width: 20px !important;
    height: 20px !important;
    padding-top: 2px !important;
    padding-left: 5px !important;
    background: rgba(0, 0, 0, 0.5) !important;
   
    border: 0px !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin-right: 20px !important;
    color: #000 !important;
    margin-top: 20px !important;
     font-size: 15px;
    font-style: normal;
    font-family: roboto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default !important;
    color: #fff !important;
    border: 1px solid transparent !important;
    background: rgba(0, 0, 0, 0.5) !important;
    box-shadow: none !important;
        padding-left: 3px !important;
    padding-right: 3px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	
	    box-sizing: border-box;
    display: inline !important;
    min-width: 1.5em;
    padding: 2px 3px !important;
    /* margin-left: 2px; */
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
	
	
}
.sorting:before {
    content: none !important;
    opacity: 0.3 !important;
}

/* .even {
    background-color: #f7f7f7 !important;
} */

div#leaveTabContent {
    margin-top: -86px;
    padding-bottom: 0px;
}

div#myleaveTabContent {
    margin-top: -337px;
}

.m-bottom-12 {
    margin-bottom: -12px;
}

.dtable_leave {
    margin-left: 16px;
    margin-right: 17px;
    width: 97% !important;
    margin-top: -81px;
}

.tab-content {
    margin-top: -100px !important;
    padding-bottom: 20px !important;
}

.m-bottom-109 {
    margin-bottom: 109px;
}

.direc_con {
    width: 66%;
    position: absolute;
    top: 200px;
    left: 446px;
    /* border: 1px solid green; */
    margin-right: 5px;
    background-color: #455A64;
    overflow-y: scroll;
    height: 278px;
        border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em
}

.mydir {
    margin-top: 20px;
    /* border-radius: 6px; */
    padding-bottom: 20px;
}

.hovershow {
    margin-bottom: 0px !important;
    background-color: #546E7A;
    padding-right: 0px;
    padding-left: 41px;
    width: 100%;
}

.m-top-20 {
    margin-top: 20px;
}

.scroll {
    overflow-y: auto;
}

    #directory::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#directory::-webkit-scrollbar
{
	width: 12px;
	  border-radius: 25px !important;
	background-color: #F5F5F5;
}

#directory::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
    .direc_con
{
	
	
	overflow-y: scroll;
	
}
.bg-datatable
{
	background-color: #B0BEC5;
}
.form-header
{
	    background: #00838F !important;
    border-bottom: 1px solid #ccc;
}
.bg-form
{
	    background: whitesmoke !important;
  
}
.text-color
{color:white !important;}
td{
color:#000 !important;	
}

.data-table-header{
background-color: whitesmoke !important;

opacity: .5;
}
.data-table-body{
    background-color: whitesmoke !important;
}
.text-black{color:#000 !important}
.header-border{
	
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top:1px solid #ccc;
}
.content-border{
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.footer-border{
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
  .box
   {    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;}
    .data-table-body{
    background-color: whitesmoke !important;
}
.form-control:focus, input:focus, select:focus, textarea:focus {border:1px solid #ccc;
box-shadow: 1px 1px 1px #ccc;}
 .nav-tabs > li > a{text-shadow:none !important}
                        

.content-full-border{
	border:1px solid #ccc; 
}
.btn-danger{color:#fff !important;}
.form-control, select[multiple], textarea {
    border: 1px solid #ccc;
    background: none !important;
    box-shadow: 1px 1px 1px #ccc;
}
a:hover {
    color: #000 !important;
}
.h-175{       margin-left: 4px !important;
    height: 155px;
    width: 362px;
    border: 1px solid #cc;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    margin-top: 10px;
}
    
     .control-group {
	display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border:1px solid #ccc;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 7px;
	width: 5px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}


/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 7px;
	width: 5px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}
    select.error{border: 1px solid  rgb(244,67,54) !important;}
    .dataTables_wrapper .dataTables_paginate .paginate_button{    color: #000 !important;
    font-size: 12px;
    font-style: normal;
    font-family: tahoma;}
    
  
    
       label.error {
    color: rgb(244,67,54) !important;
    font-weight:500 !important;
    font-size: 12px !important;
}
                        
                        input.error {
                            border: 1px solid  rgb(244,67,54) !important;
                        }
                        
                        
                        
      #myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
 border:1px solid #00838f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background:transparent;
}

#myBtn:hover {
  background-color: transparent;
}                  
                        

                        textarea.error {
                            border: 1px solid  rgb(244,67,54) !important;
                        }
                        
                        select.error{border: 1px solid  rgb(244,67,54) !important;}
                        
                        .img_scroll_top{
                        background-image: url("assets\img\turning_image\up-arrow .png");
                        }
                        
                        
                        .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('assets\img\turning_image\Loading_icon.gif') 50% 50% no-repeat rgb(249,249,249);
}
                        
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color:#000 !important;
    border:none !important;
    background:#ccc !important;
    
    
    
    
    }                   
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        