   a:hover {
       color: darkgreen;
   }
   
   .panel .panel-heading {
       padding-bottom: 0px !important;
   }
   
   textarea {
       background: transparent;
       height: 119px;
       margin-top: -10px;
       width: 103%;
   }
   
   .dataTables_wrapper .dataTables_paginate .paginate_button.current,
   .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
       width: 20px;
       height: 20px;
       padding-top: 2px;
       padding-left: 5px;
   background: #ccc !important;
       color: #000 !important;
       border: 0px;
               font-size: 11px !important;
    font-family: tahoma !important;
   }
   
   .dataTables_wrapper .dataTables_length,
   .dataTables_wrapper .dataTables_filter,
   .dataTables_wrapper .dataTables_info,
   .dataTables_wrapper .dataTables_processing,
   .dataTables_wrapper .dataTables_paginate {
       margin-right: 20px;
       color: #fff;
       margin-top: 20px;
   }
   
   .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
   .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
   .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
       cursor: default;
       color: #000 !important;
       border: 1px solid transparent;
       background: #ccc !important;
       box-shadow: none;
       padding-left: 2px;
       padding-right: 2px;
       padding-bottom: 2px;
       padding-top: 2px;
           font-size: 11px !important;
    font-family: tahoma !important;
   }
   
   .header h2 {
       font-size: 12px;
       color: #FFF;
       padding: 0px;
       margin: 0px;
       display: block;
       float: left;
       text-transform: uppercase;
       font-weight: bold;
       line-height: 30px;
       margin-left: 9px;
       margin-right: 9px;
   }
   
   .table-striped>tbody>tr:nth-child(odd)>td,
   .table-striped>tbody>tr:nth-child(odd)>th {
       background: rgba(0, 0, 0, 0.1);
   }
   
   table.dataTable.hover tbody tr:hover,
   table.dataTable.display tbody tr:hover {
       background-color: #455A64;
   }
   
   .table-striped>tbody>tr:nth-child(even)>td,
   .table-striped>tbody>tr:nth-child(even)>th {
       background: rgba(0, 0, 0, 0.1);
   }
  
   
   table.dataTable.stripe tbody tr.odd,
   table.dataTable.display tbody tr.odd {
    /*    background-color: #607D8B; */
   }
   
   .dataTables_length select {
       width: 73px;
       display: inline;
       margin: 0px 5px;
       margin-top: -9px;
   }
   
   .dataTables_wrapper .dataTables_filter input {
       margin-left: 0.5em;
       /* margin-bottom: -2px; */
       margin-top: -9px;
   }
   
   .dataTables_length label,
   .dataTables_filter label {
       padding: 0px;
       line-height: 16px;
       height: auto;
       margin: 0px;
       font-weight: normal;
       display: inline-flex;
   }
   
   .sorting:before {
       content: none !important;
       opacity: 0.3;
   }
   
   
   p {
       font-size: 14px;
       font-family: cursive;
       color: #000;
   }
   
   .modal-content {
       width: 155%;
       /* margin-right: 70%; */
       margin-left: -153px;
       margin-right: -153px;
   }
   
   .nav-tabs.nav-justified {
       width: 100% !important;
   }
   
   .modal-body {
       width: 938px;
       margin-top: 38px;
       padding-top: 0px;
   }
   
   .sim-block {
       margin-bottom: -15px !important;
       margin-left: -5px;
       margin-right: -5px;
   }
   
   .modal-header .close {
       margin-top: -2px !important;
   }
   
   .close {
       float: right;
       font-size: 26px !important;
       /* font-weight: 700; */
       line-height: 1;
       color: #fff !important;
       /* background-color: red !important; */
       text-shadow: 0 1px 0 #fff;
       filter: alpha(opacity=20);
       opacity: 3.2 !important;
   }
   
   .font-color {
       color: #000;
   }
   
   .input-set {
      
       height: 25px;
       width: 100%;
   }
   
   .modal-label-style {
       font-size: 12px;
       color: #000;
       font-weight:500 !important;
   }
   
   .modal_select {
    
       height: 27px;
   }
   
   .m-pad-0 {
       padding: 0px;
   }
   
   input[type="checkbox"] {
       width: 15px;
       margin-left: 8px !important;
       margin-top: 8px;
   }
   
   label {
       display: inline-block;
       padding-left: 0px !important;
   }
   
   input {
       display: inline-block !important;
   }
   
   .m-top-0 {
       margin-top: 0px;
   }
   
   .textArea-style {
       width: 336px;
       margin-left: -4px;
   }
   
   .check-box {
       height: 18px;
   }
   
   .mar-pad {
       padding-left: 0px;
       margin-left: 30px;
       padding-top: 5px;
   }
   
   .pad-left-0 {
       padding-left: 0px;
   }
   
   .input-radio-male {
       position: absolute;
       top: 6px;
   }
   
   .input-radio-female {
       position: absolute;
       top: 11px;
   }
   
   option {
       color: black;
       background-color: grey;
   }
   
   .m-top-7 {
       margin-top: 7px;
   }
   
   .modal-content {
       margin-top: -23px;
   }
   
   .inputfile {
       width: 0.1px;
       height: 0.1px;
       opacity: 0;
       overflow: hidden;
       position: absolute;
       z-index: -1;
   }
   
   .custom-label {
       display: block !important;
       margin-left: 25px;
       margin-right: 25px;
   }
   
     label.error {
    color: rgb(244,67,54);
}
                        
                        input.error {
                            border: 1px solid  rgb(244,67,54);
                        }
                        
                        textarea.error {
                            border: 1px solid  rgb(244,67,54);
                        }
   thead{    background: #ededed !important;}
   .box
   {    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;}
   tbody>tr.even{background-color: #ededed !important}
   .modal-header
 {
     height: 40px !important;
    background: #00838f !important;
 }  
 
 
 .control-group {
	display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border:1px solid #ccc;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	    left: 7px;
    width: 5px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}


/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	    left: 7px;
    width: 5px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

   label.error {
    color: rgb(244,67,54) !important;
    font-weight:500 !important;
    font-size: 12px !important;
}
                        
                        input.error {
                            border: 1px solid  rgb(244,67,54) !important;
                        }
                        
                        textarea.error {
                            border: 1px solid  rgb(244,67,54) !important;
                        }
                        
                        select.error{border: 1px solid  rgb(244,67,54) !important;}