
        .tab-content>.active {
            display: block;
            visibility: visible;
            margin-left: 20px !important;
            margin-right: 20px !important;
            text-align: justify;
            margin-top: 0px;
            padding-top: 20px;
        }
        
        label {
            margin-bottom: 0px;
            font-size: 14px;
            font-family: roboto;
        }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover 
      {
          color:#fff !important;
      }
     
      input[type="checkbox"]{
            width: 15px;
            margin-left: 8px !important;
            margin-top: 8px;
      }
      label {
          display: inline-block;
          padding-left: 0px !important;
      }
      input {
          display: inline-block !important;
      }
  p
        {
                font-size: 14px;
    font-family: cursive;
    color:#000;
}