ul.select2-choices {
     margin-top: -6px !important;
     margin-left: -12px !important;
 
     padding-top: -7px !important;
     width: 103%;
     background: whitesmoke !important;
     border-color: transparent !important;
     color: #FFF !important;
 }
   label.error {
    color: rgb(244,67,54);
}
                        
                        input.error {
                            border: 1px solid  rgb(244,67,54);
                        }
                        
                        textarea.error {
                            border: 1px solid  rgb(244,67,54);
                        }