.payslip_para1
{
	    position: relative;
    left: 20px;
    bottom: 9px;
    background-color: #00838F;
    width: 142px;
    padding-left: 3px;
    padding-right: 3px;
    color:#fff !important;
}
.m-top-20
{
	margin-top:-15px;
}
.m-top-5{
	margin-top:5px;
}
.l-height{
	line-height:20px !important;
	
}
  label.error {
    color: rgb(244,67,54);
}
                        
                        input.error {
                            border: 1px solid  rgb(244,67,54);
                        }
                        
                        textarea.error {
                            border: 1px solid  rgb(244,67,54);
                        }